*.7zip
*.a
*.bak
build/
_build/
build/
*.bz
*.core
*.coverage
*.css
*.csv
*.dat
*.db
dist/
*.dll
*.doc
*.docx
*.docm
.DS_Store
*.dylib
*.egg-info/
*.env
*.exe
*.feather
*.html
htmlcov/
.idea/
*.js
*.json
.mypy_cache/
*.npy
*.o
*.pdf
*.pem
*.ppt
*.pptx
*.pptm
*.pq
*.pub
*.pyc
__pycache__/
.pytest_cache/
*.rsa
smoke-tests/
*.snappy-*.tar.gz
*.so
*.sqlite
*.tar.gz
*.tgz
*.tmp
tmp-dir/
wheels/
*.whl
*.xls
*.xlsx
*.xlsm
*.zip

# exclusions
!tests/data/base-package-0.1.0.tar.gz
!tests/data/base-package-0.1.0.zip
!tests/data/problematic-package.tar.gz
!tests/data/problematic-package.zip
