*.7zip
*.a
*.bak
build/
_build/
build/
*.bz
*.bz2
*.conda
*.core
*.coverage
*.css
*.csv
*.dat
*.db
dist/
*.dll
*.doc
*.docx
*.docm
downloads/
.DS_Store
*.dylib
*.egg-info/
*.env
*.exe
*.feather
*.html
htmlcov/
.idea/
*.js
*.json
linkcheck_output/
.lycheecache
*.lzma
.mypy_cache/
*.npy
*.o
*.pdf
*.pem
*.ppt
*.pptx
*.pptm
*.pq
*.pub
*.pyc
__pycache__/
.pytest_cache/
*.rda
*.rds
*.Rdata
*.rsa
.ruff_cache/
scratch.md
_skbuild/
smoke-tests/
*.snappy-*.tar.gz
*.so
*.sqlite
*.tar.gz
*.tgz
*.tmp
tmp-dir/
wheels/
*.whl
*.xls
*.xlsx
*.xlsm
*.zip
*.zstd

# exclusions
!tests/data/osx-64-baseballmetrics-0.1.0-0.conda
!tests/data/osx-64-baseballmetrics-0.1.0-0.tar.bz2
!tests/data/baseballmetrics-0.1.0-py3-none-macosx_10_15_x86_64.macosx_11_6_x86_64.macosx_12_5_x86_64.whl
!tests/data/baseballmetrics-0.1.0-py3-none-manylinux_2_28_x86_64.manylinux_2_5_x86_64.manylinux1_x86_64.whl
!tests/data/debug-baseballmetrics-0.1.0-macosx-wheel.tar.bz2
!tests/data/debug-baseballmetrics-0.1.0-macosx-wheel.tar.gz
!tests/data/debug-baseballmetrics-0.1.0-py3-none-macosx_10_15_x86_64.macosx_11_6_x86_64.macosx_12_5_x86_64.whl
!tests/data/debug-baseballmetrics-py3-none-manylinux_2_28_x86_64.manylinux_2_5_x86_64.manylinux1_x86_64.whl
!tests/data/osx-64-debug-baseballmetrics-0.1.0-0.conda
!tests/data/osx-64-debug-baseballmetrics-0.1.0-0.tar.bz2
!tests/data/base-package-0.1.0.tar.gz
!tests/data/base-package-0.1.0.zip
!tests/data/lightgbm-3.3.5-py3-none-win_amd64.whl
!tests/data/problematic-package-0.1.0.tar.gz
!tests/data/problematic-package-0.1.0.zip
