[tool.pydistcheck]

ignore = []
inspect = false
max_allowed_files = 2000
max_allowed_size_compressed = '50M'
max_allowed_size_uncompressed = '75M'
expected_directories = [
    '!*/.appveyor',
    '!*/.binder',
    '!*/.circleci',
    '!*/.git',
    '!*/.github',
    '!*/.idea',
    '!*/.pytest_cache',
    '!*/.mypy_cache'
]
expected_files = [
    '!*/appveyor.yml',
    '!*/.appveyor.yml',
    '!*/azure-pipelines.yml',
    '!*/.azure-pipelines.yml',
    '!*/.cirrus.star',
    '!*/.cirrus.yml',
    '!*/codecov.yml',
    '!*/.codecov.yml',
    '!*/.DS_Store',
    '!*/.gitignore',
    '!*/.gitpod.yml',
    '!*/.hadolint.yaml',
    '!*/.readthedocs.yaml',
    '!*/.travis.yml',
    '!*/vsts-ci.yml',
    '!*/.vsts-ci.yml'
]
