[tool.pydistcheck]

# List of checks to ignore.
# See https://pydistcheck.readthedocs.io/en/latest/check-reference.html for
# a complete list.
ignore = []

# Set to true to print a summary of the distribution, like its total
# size and largest files.
inspect = false

# If more than this many files is found in the distribution,
# pydistcheck reports a 'too-many-files' check failure.
max_allowed_files = 2000

# If the distribution is larger than this size (compressed),
# pydistcheck reports a 'distro-too-large-compressed' check failure.
#
# See 'pydistcheck --help' for available units.
max_allowed_size_compressed = '50M'

# If the distribution is larger than this size (uncompressed),
# pydistcheck reports a 'distro-too-large-compressed' check failure.
#
# See 'pydistcheck --help' for available units.
max_allowed_size_uncompressed = '75M'

# If any file or directory in the distribution has a path longer
# than this many characters, pydistcheck reports a 'path-too-long' check failure.
max_path_length = 500

# List of fnmatch.fnmatchcase() patterns to be compared to directories
# in the distribution.
expected_directories = [
    '!*/.appveyor',
    '!*/.binder',
    '!*/.circleci',
    '!*/.git',
    '!*/.github',
    '!*/.idea',
    '!*/.pytest_cache',
    '!*/.mypy_cache'
]

# List of fnmatch.fnmatchcase() patterns to be compared to files
# in the distribution.
expected_files = [
    '!*/appveyor.yml',
    '!*/.appveyor.yml',
    '!*/azure-pipelines.yml',
    '!*/.azure-pipelines.yml',
    '!*/.cirrus.star',
    '!*/.cirrus.yml',
    '!*/codecov.yml',
    '!*/.codecov.yml',
    '!*/.DS_Store',
    '!*/.gitignore',
    '!*/.gitpod.yml',
    '!*/.hadolint.yaml',
    '!*/.readthedocs.yaml',
    '!*/.travis.yml',
    '!*/vsts-ci.yml',
    '!*/.vsts-ci.yml'
]
