---
name: build-and-publish-to-pypi

on:
  # build wheels and push to PyPI whenever a GitHub release is published
  release:
    types:
      - published

jobs:
  build_wheels:
    name: build wheels
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build wheels
        run: pipx run build --wheel
      - uses: actions/upload-artifact@v4
        with:
          name: wheel
          path: dist/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build sdist
        run: pipx run build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    # publish whenever a GitHub release is published
    if: github.event_name == 'release' && github.event.action == 'published'
    environment:
      name: pypi
      url: https://pypi.org/p/pydistcheck
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: sdist
          path: dist
      - uses: actions/download-artifact@v5
        with:
          name: wheel
          path: dist
      - uses: pypa/gh-action-pypi-publish@v1.12.4

  upload_github:
    needs: [upload_pypi]
    runs-on: ubuntu-latest
    # publish whenever a GitHub release is published
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: sdist
          path: dist
      - uses: actions/download-artifact@v5
        with:
          name: wheel
          path: dist
      - name: upload distributions to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/*
          file_glob: true
          tag: ${{ github.ref }}
          overwrite: false

# adopted from:
# https://github.com/pypa/cibuildwheel/blob/0117165b02675521b3db2d05033747819bb3ecc5/examples/github-deploy.yml
