---
name: docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  discussions: none
  id-token: none
  issues: none
  packages: none
  pages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  check-docs:
    name: check-docs
    runs-on: ubuntu-latest
    steps:
      - name: check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          persist-credentials: false
      - uses: conda-incubator/setup-miniconda@835234971496cad1653abb28a638a281cf32541f # v3.1.0
        with:
          environment-file: docs/env.yml
          activate-environment: pydistcheck-docs
          miniforge-version: latest
      - name: build docs
        shell: bash -l {0}
        run: |
          pip install .
          make -C ./docs html
          python -m sphinx -b linkcheck -D linkcheck_timeout=5 --fail-on-warning ./docs ./linkcheck_output
  check-links:
    name: check-links
    runs-on: ubuntu-latest
    steps:
      # cache Lychee results to avoid hitting rate limits
      - name: Restore lychee cache
        uses: actions/cache@v4
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Lychee URL checker
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: >-
            --cache
            --no-progress
            --timeout 10
            --max-retries 2
            --accept 200,429
            --exclude-path docs/conf.py
            './**/*.rst'
            './**/*.md'
            './**/*.py'
            './**/*.toml'
            './**/*.yml'
          # fail the action on broken links
          fail: true
          failIfEmpty: true
  all-docs-tests-successful:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - check-docs
      - check-links
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
