name: check-labels

on:
  pull_request:
    types:
      - labeled
      - opened
      - synchronize
      - unlabeled

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  discussions: none
  id-token: none
  issues: none
  packages: none
  pages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  check:
    runs-on: ubuntu-slim
    timeout-minutes: 10
    permissions:
      contents: read
      issues: read
      pull-requests: read
    steps:
      - uses: mheap/github-action-required-labels@8afbe8ae6ab7647d0c9f0cfa7c2f939650d22509 # v5.5.1
        with:
          mode: exactly
          add_comment: false
          count: 1
          # this should match release-drafter.yml
          labels: |
            breaking
            doc
            enhancement
            fix
            maintenance
