---
name: manual-run

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Name of a package on PyPI'
        required: true
        type: string

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  discussions: none
  id-token: none
  issues: none
  packages: none
  pages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  check-package:
    name: check-package
    runs-on: ubuntu-latest
    steps:
      - name: check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: check '${{ inputs.package_name }}'
        env:
          INPUT_PACKAGE_NAME: ${{ inputs.package_name }}
        run: |
          sudo apt-get update -y
          sudo apt-get install -y \
            llvm
          python -m pip install \
            pipx
          make install
          mkdir -p ./tmp-dir
          python bin/get-pypi-files.py\
            "${INPUT_PACKAGE_NAME}" \
            ./tmp-dir
          pydistcheck ./tmp-dir/*
