---
name: smoke-tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # run every Wednesday at midnight UTC
  schedule:
    - cron: '0 0 * * 3'

jobs:
  test:
    name: smoke-tests (${{ matrix.os }}, ${{ matrix.python_version }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python_version: '3.8'
          - os: ubuntu-latest
            python_version: '3.13'
          - os: windows-latest
            python_version: '3.12'
    steps:
      - name: check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install extra tools on Linux
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update -y
          sudo apt-get install -y \
            llvm
      - name: run tests
        shell: bash -l {0}
        run: |
          pip install \
              pipx \
              requests
          make install
          make smoke-tests
  all-smoke-tests-successful:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
