name: smoke-tests

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  test:
    name: smoke-tests (${{ matrix.os }}, ${{ matrix.python_version }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python_version: '3.8'
          - os: windows-latest
            python_version: '3.10'
    steps:
      - name: fail
        run: |
          exit 124
  all-smoke-tests-successful:
    if: always()
    runs-on: ubuntu-latest
    needs:
    - test
    steps:
    - name: Decide whether the needed jobs succeeded or failed
      uses: re-actors/alls-green@v1.2.2
      with:
        jobs: ${{ toJSON(needs) }}
