---
name: smoke-tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # run every Wednesday at midnight UTC
  schedule:
    - cron: '0 0 * * 3'

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  discussions: none
  id-token: none
  issues: none
  packages: none
  pages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  test:
    name: smoke-tests (${{ matrix.os }}, ${{ matrix.python_version }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python_version: '3.9'
          - os: ubuntu-latest
            python_version: '3.13'
          - os: windows-latest
            python_version: '3.12'
    steps:
      - name: check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install extra tools on Linux
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update -y
          sudo apt-get install -y \
            llvm
      - name: run tests
        shell: bash
        run: |
          python -m pip install \
              pipx \
              requests
          make install
          make smoke-tests
  all-smoke-tests-successful:
    if: always()
    runs-on: ubuntu-slim
    needs:
      - test
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
