---
name: static-analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  discussions: none
  id-token: none
  issues: none
  packages: none
  pages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  lint:
    name: lint
    runs-on: ubuntu-slim
    steps:
      - name: check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: run linting
        run: |
          export PATH="/usr/share/miniconda/bin:${PATH}"
          conda install \
            --yes \
            -c conda-forge \
              pre-commit
          make lint
